# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Log files
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Third party libraries
vendor/
_vendor*

# Build artifacts
bin/

# VS Code
.vscode/
debug